*{
    padding: 0;
    margin: 0;
}

/*fonts
font-family: 'Gochi Hand', cursive;
font-family: 'Viga', sans-serif;
*/

html{
    scroll-behavior: smooth;
}

body{
    background-color: #EAEAEA;
}

#menu{
    position: relative;
    padding: 20px;
    background-color: #c0d6df;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 2;
    display: flex;
    align-items: center;
}

#burger{
    display: none;
}

#burgerMenu{
    display: none;
}

#menu-center{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo{
    font-family: 'Gochi Hand', cursive;
    font-size: 3vw;
    color: #ff8b5d;
    filter: drop-shadow(3px 3px 1px #4F6D7A);
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

/*Header menu list, used in footer too (inside #fNav)*/
nav ul{
    display: flex;
    list-style-type: none;
}

nav ul li{
    margin-left: 2.5vw;
}

nav ul li:first-of-type{
    margin-left: 0vw;
}

nav ul li a{
    font-family: 'Gochi Hand', cursive;
    font-weight: bold;
    font-size: 2.5vw;
    text-decoration: none;
    color: #4F6D7A;
    filter: drop-shadow(3px 3px 1px rgb(255, 255, 255));
    transition: 0.2s ease-in-out;
}

nav ul li a:hover{
    color: #ff8b5d;
    filter: drop-shadow(3px 3px 1px #4F6D7A);
}

/*ABOUT PAGE*/

/*h2*/
.title{
    font-family: 'Gochi Hand', cursive;
    font-size: 2.8vw;
    color: #ff8b5d;
    filter: drop-shadow(3px 3px 1px #4F6D7A);
    margin-bottom: 1%;
}

/*p*/
.text{
    font-family: 'Viga', sans-serif;
    font-weight: bold;
    font-size: 1.6vw;
    color: #4F6D7A;
    filter: drop-shadow(2px 2px #ffffff);
}

#hContainer{
    position: relative;
    overflow: hidden;
}

#backVideo{
    position: absolute;
    top: -15vh;
    left: 0;
    width: 100%;
    z-index: -1;
    transition: 0.2s ease-in-out;
}

#txtContainer{
    height: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #4f6d7ac7;
    transition: 0.2s ease-in-out;
}

#txtContainer h1{
    font-family: 'Viga', sans-serif;
    font-weight: bold;
    font-size: 5.5vw;
    color: white;
    filter: drop-shadow(5px 2px 15px black);
    margin-bottom: 2vh;
}

.btn{
    width: 7vw;
    padding: 10px;
    font-family: 'Viga', sans-serif;
    font-size: 1vw;
    font-weight: bold;
    color: white;
    background-color: #ff6a2f;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: .2s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn:hover, .btn:active{
    background-color: #ff7d4a;
    transform: translateY(-2px);
}

.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.box img{
    width: 60%;
    height: 100%;
    border-right: 5px solid #4f6d7aa9;
    border-bottom: 5px solid #4f6d7aa9;
    border-radius: 0 0 15px 0;
}

.box:last-of-type img{
    border-left: 5px solid #4f6d7aa9;
    border-top: 5px solid #4f6d7aa9;
    border-right: none;
    border-bottom: none;
    border-radius: 15px 0 0 0;
}

.boxTxt{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 3vw;
}

.box:first-of-type{
    margin-bottom: 10vh;
}

/*footer*/
footer{
    background-color: #c0d6df;
    display: flex;
    flex-direction: column;
    padding: 2vh;
}

#fBox1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#socials{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    width: 13vw;
}
#socials i{
    font-size: 1.5vw;
    margin: 0.2vh;
    color: #4F6D7A;
    filter: drop-shadow(2px 2px #ffffff);
    transition: 0.2s ease-in-out;
}
#socials i a{
    font-family: 'Gochi Hand', cursive;
    font-size: 1.5vw;
    padding-left: 1vh;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}
#socials i:hover > a, #socials i:hover{
    color: #ff8b5d;
    filter: drop-shadow(3px 3px 1px #4F6D7A);
}

#fLogoHolder{
    text-align: center;
}
#fLogoHolder a{
    font-size: 2.2vw;
}

#fNav nav ul{
    width: 13vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    margin: 0;
    padding: 0;
}
#fNav a{
    font-size: 1.5vw;
}

#fBox2 p{
    width: 80%;
    margin: 2vh auto 0vh auto;
    text-align: center;
    font-family: 'Gochi Hand', cursive;
    padding-top: 1vh;
    border-top: 5px solid #4f6d7a25;
    border-radius: 2px;
    font-size: 1.5vw;
}

/*mobile layout version box*/
#fLogoHolderX{ display: none;}

/*mobile layout version box*/
#socialsX{ display: none;}


/*PETS PAGE*/

#pets-con{
    position: relative;
    display: flex;
    flex-direction: column;
}

#sidebar{
    padding: 1%;
    background-color: #c0d6df;
}

#sidebar p.text{
    color: white;
    filter: drop-shadow(3px 3px 1px #4F6D7A);
    text-align: center;
    margin: 0 auto;
}

#sidebar a{
    text-decoration: underline;
    color: #ff8b5d;
    filter: drop-shadow(2px 2px 1px #4F6D7A);
}

#cards{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card{
    width: 25%;
    height: 50vh;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    margin: 1.5vw;
    
    padding: 2vh;

    background-color: #f5f5f5;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    transition: .3s ease-in-out;
    border-radius: 15px !important; /*important cause it doesn't work*/
}

.card:hover{
    background-color: #ffffffa2;
    transform: translateY(-0.5vh);
}

.card p{
    margin: 0;
    margin-top: 4%;
    font-size: 1.5vw;
}

.imgCon{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
}

.imgCon img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.45);
    margin: 1vh 0;
}

/*POPUP*/

#popupContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0c0e0fa9;
    z-index: 2;
    display: none;
}

#popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: 80%;
    height: 70%;

    display: flex;
    align-items: center;
    
    background-color: #f1f1f1;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 15px;
    overflow: hidden;
}
/*slider part*/
#sliderBox{
    width: 60%;
    height: 100%;
    
}
/*whole carousel container*/
#carouselExampleIndicators{
    width: 100%;
    height: 100%;
}

.carousel-inner{
    position: relative;
    width: 100%;
    height: 100%;
}

#s1{
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

#buttons{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

.btns{
    height: 100%;
    padding: 0% 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.btns:hover > i{
    color: #ffffff;
    filter: drop-shadow(3px 3px #4F6D7A);
}

.btns i{
    font-size: 5vw;
    color: #ffffff;
    filter: drop-shadow(3px 3px #ff8b5d);
    transition: .3s ease-in-out;
}

/*description part*/
#details{
    width: 40%;
    height: 100%;
    overflow-y: scroll;
}
/*description scrollbar*/
#details::-webkit-scrollbar, textarea{
    width: 5px;
    border-radius: 5%;
}
#details::-webkit-scrollbar-thumb, textarea{
    background-color: #ff8b5d;
}

.info{
    width: 96%;
    padding: 0 2%;
    margin: 2% 0;
    display: flex;
    flex-direction: column;
}

/*popup tutorial*/
#tutorial{
    position: fixed;
    bottom: -100%;
    left: 50%;
    transform: translate(-50%,0%);
    z-index: 1;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5%;
    border-radius: 15px;
    background-color: #ff8b5d;
    box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 15px;
    pointer-events: none;
    transition: .3 ease-in-out;
    animation-name: fade;
    animation-duration: 5s;
}

#tutorial p{
    width: 100%;
    text-align: center;
    margin: 0;
    font-size: 1.5vw;
    color: whitesmoke;
    filter: drop-shadow(3px 3px #4F6D7A);
}

@keyframes fade{
    20%{
        bottom: 5%;
    }
    80%{
        opacity: 1;
    }
    100%{
        bottom: 5%;
        opacity: 0;
    }
}

/*CONTACT PAGE*/

#frontVideo{
    position: absolute;
    top: -30vh;
    left: 0;
    width: 100%;
    z-index: -1;
    transition: 0.2s ease-in-out;
}
/*contact page container - main*/
#contactCon{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#contactForm *{
    font-family: 'Viga', sans-serif;
}
/*left part*/
#contactForm{
    width: 60%;
    margin: 0 auto;
    padding: 5%;
    display: flex;
    flex-direction: column;
}
/*inline inputs*/
#inlineName{
    display: flex;
}
/*inputs*/
#inlineName input[type="text"], #contactForm input[type="email"]{
    width: 60%;
    background: transparent;
    border: none;
    border-bottom: 2px solid #4F6D7A;
    margin-bottom: 2%;
    outline: none;
    padding: 0.5%;
    font-weight: bold;
    font-size: 1.5vw;
    color: #4F6D7A;
    transition: .3s ease-in-out;
}
#contactForm input::placeholder{
    color: #4F6D7A;
}
#inlineName input[type="text"]{
    width: 27%;
    margin-left: 5%;
}
#inlineName input[type="text"]:first-of-type{
    margin-left: 0%;
}
#contactForm input[type="text"]:focus, #contactForm input[type="email"]:focus{
    border-bottom: 2px solid #ff7f4d;
}
/*textarea*/
#contactForm textarea{
    width: 75%;
    margin-bottom: 2%;
    padding: 0.5%;
    background-color: #4F6D7A;
    border-radius: 10px;
    border: 2.5px solid #c0ccd1;
    resize: none;
    outline: none;
    font-size: 1.5vw;
    font-weight: bold;
    color: #e9eef0;
    transition: .3s ease-in-out;
}
#contactForm textarea::placeholder{
    color: #e9eef0;
}
#contactForm textarea:focus{
    border: 2.5px solid #ff7f4d;
}
/*file input label*/
#contactForm label{
    width: fit-content;
    font-size: 1.5vw;
    margin-bottom: 0.5%;
    color: #4F6D7A;
    font-weight: bold;
    cursor: pointer;
}
/*file input*/
#contactForm input[type="file"]{
    width: fit-content;
    border: none;
    font-size: 1vw;
    margin-bottom: 2%;
    color: #4b4b4b;
    cursor: pointer;
}
/*captcha*/
#captcha{
    margin-bottom: 2%;
}
/*submit*/
#contactForm .btn{
    width: 20%;
    padding: 4px;
    font-size: 1.3vw;
}
/*right side*/
#mediaCon{
    width: 40%;
    height: 100%;
}

#mediaCon p{
    font-size: 1.5vw;
    margin-bottom: 10%;
}
/*icon container*/
#mediaIcons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}
/*icons*/
#mediaIcons i{
    font-size: 3vw;
    margin-top: 0.5vw;
    border-radius: 15px;
    transition: .2s ease-in-out;
    filter: drop-shadow(2px 2px 1px #fcfcfcbb);
}
i:hover{
    color: #ff8b5d;
    filter: drop-shadow(3px 1px 1px #4F6D7A);
}

/*
========================
========TABLET==========
========================
*/



/*Tablet*/
@media screen and (max-width:960px){
    /*h2*/
    .title{
        filter: drop-shadow(3px 1px 1px #4F6D7A);
    }
    /*banner fix*/
    #txtContainer{
        height: 50vw;
    }
    /*video fix*/
    #backVideo{
        top: -5vh;   
    }
    /*logo resize*/
    #logo{
        font-size: 7vw;
    }
    /*ul hide*/
    #menu-center ul, #menu-center ul li{
        display: none;
    }
    /*burger*/
    #burger{
        display: block;
        width: 50px;
        height: 50px;
        background-color: #ff8b5d;
        filter: drop-shadow(3px 3px 1px #4F6D7A);
        border-radius: 10px;
        cursor: pointer;
        /*line position*/
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    /*lines*/
    #line1, #line2, #line3{
        width: 60%;
        height: 4px;
        background-color: #4F6D7A;
        border-radius: 30%;
        margin-top: 5px;
        transition: 0.3s ease-in-out;
    }
    #line1{
        margin-top: 0px;
    }
    /*selected lines classes*/
    .line1-s{
        transform-origin: left top;
        transform: rotate(40deg);
        margin-left: 10px;
    }
    .line2-s{
        opacity: 0;
    }
    .line3-s{
        transform-origin: left bottom;
        transform: rotate(-40deg);
        margin-left: 10px;
    }
    /*dropdown burger menu*/
    #burgerMenu{
        position: absolute;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1;
        background-color: #acc5cf;
        transition: .5s ease-in-out;
        transform: translateY(-100%);
        overflow-x: hidden;
    }
    /*burger menu list*/
    #burgerMenu ul{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    /*burger menu list element*/
    #burgerMenu ul a{
        width: 100%;
        text-align: center;
        padding: 3%;
        border: 1px solid rgba(128, 128, 128, 0.253);
        text-decoration: none;
    }
    /*burger menu list element child*/
    #burgerMenu ul a li{
        font-size: 4.5vw;
        width: 100%;
        margin: 0 auto;
    }
    /*burger menu list element hovers*/
    #burgerMenu ul a:hover, #burgerMenu ul a:active{
        background-color: #ff8b5d;
    }
    #burgerMenu ul a:hover > li, #burgerMenu ul a:active > li{
        color: white;
        filter: drop-shadow(3px 3px 1px #4F6D7A);
    }
    /*MAIN, LAYOUT AND FONT-SIZE CHANGES*/
    .box{
        display: flex;
        flex-direction:column-reverse;
    }

    .box img{
        width: 100%;
        border: none;
        border-radius: 0;
    }

    .box:last-of-type img{
        border: none;
        border-radius: 0;
    }

    #txtContainer h1{
        font-size: 8.5vw;
    }

    .btn{
        width: 15vw;
        font-size: 2.2vw;
    }

    .box .title{
        margin: 3vh 0 2vh 0;
        font-size: 7vw;
    }

    .box .text{
        margin: 0vh 0 5vh 0;
        font-size: 3vw;
    }

    .box:last-of-type{
        display: flex;
        flex-direction:column;
    }

    .box:first-of-type{
        margin-bottom: 0vh;
    }

    /*FOOTER CHANGES*/
    footer{
        background-color: #c0d6df;
        display: flex;
        flex-direction: column;
        padding: 2vh;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 15px;
    }

    #socials i{
        font-size: 3vw;
    }
    #socials i a{
        font-size: 3vw;
    }
    #fLogoHolder a{
        font-size: 5vw;
    }
    #fNav a{
        font-size: 3vw;
    }
    #fBox2 p{
        font-size: 3.5vw;
    }

    #sidebar p.text{
        font-size: 3.5vw;
        filter: drop-shadow(2px 2px #4F6D7A);
    }

    #sidebar a{
        filter: drop-shadow(1px 1px 1px #4F6D7A);
    }
    
    #cards{
        width: 100%;
        padding: 5% 0;
    }
    
    .card{
        width: 40%;
        height: 400px;
    }
    
    .card p{
        margin: 0;
        margin-top: 2vh;
        font-size: 3.5vw;
    }
    
    .imgCon img{
        transform: translate(-50%,-50%) scale(0.45);
    }

    /*popup tutorial*/
    #tutorial{
        padding: 1%;
        width: 50%;
    }

    #tutorial p{
        font-size: 3vw;
    }

    #popup{
        flex-direction: column;
        width: 80%;
        height: 85%;
    }
    
    #sliderBox{
        width: 100%;
        height: 60%;
    }
    
    #details{
        width: 100%;
        height: 40%;
    }

    .btns i{
        font-size: 10vw;
    }

    .info h2.title{
        font-size: 6vw;
    }

    .info p.text{
        font-size: 4vw;
        margin: 0;
    }
    
    #frontVideo{
        top: 0vh;
    }
    /*contact page container - main*/
    #contactCon{
        flex-direction: column-reverse;
        padding: 4%;
    }

    #mediaCon{
        width: 100%;
        text-align: center;
        margin-bottom: 3%;
    }

    #mediaCon h2{
        font-size: 7vw;
    }
    
    #mediaCon p{
        font-size: 3.5vw;
        margin: auto;
        width: 80%;
    }
    /*hiding icons div and header text for it*/
    #mediaIcons, #mediaCon h2:last-of-type{
        display: none;
    }
    /*form*/
    #contactForm{
        width: 80%;
        align-items: center;
    }
    /*inputs*/
    #inlineName input[type="text"], #contactForm input[type="email"]{
        width: 100%;
        font-size: 3.5vw;
    }
    /*name and surname*/
    #inlineName input[type="text"]{
        width: 50%;
    }
    /*textarea*/
    #contactForm textarea{
        width: 100%;
        font-size: 3.5vw;
    }

    /*file input label*/
    #contactForm label{
        font-size: 3.5vw;
    }
    /*file input*/
    #contactForm input[type="file"]{
        width: 45%;
        font-size: 2.5vw;
        display: flex;
        justify-content: center;
        margin-bottom: 2%;
    }
    /*captcha*/
    #captcha{
        margin: auto;
        margin-bottom: 3%;
    }
    /*submit*/
    #contactForm .btn{
        width: 25%;
        font-size: 3.5vw;
        animation: none;
    }
}



/*
========================
========MOBILE==========
========================
*/



@media screen and (max-width:425px){
    /*banner fix*/
    #txtContainer{
        height: 86vh;
    }
    /*video fix*/
    #backVideo{
        width: fit-content;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    /*logo resize*/
    #logo{
        font-size: 13vw;
    }
    /*burger*/
    #burger{
        transform: scale(0.85);
    }
    /*burger menu list element child*/
    #burgerMenu ul a li{
        font-size: 6.5vw;
    }
    /*MAIN, LAYOUT AND FONT-SIZE CHANGES*/
    #txtContainer h1{
        font-size: 15vw;
        width: 80%;
        text-align: center;
        margin-bottom: 5vh;
    }
    
    .btn{
        width: 30vw;
        font-size: 4vw;
        transition: .3s ease-in-out;
        animation-name: fly;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
    /*button animation*/
    @keyframes fly{
        0%{transform: translateY(0vh)}
        50%{transform: translateY(-1vh)}
        100%{transform: translateY(0vh)}
    }
    
    .box .title{
        margin: 4vh 0 3vh 0;
        font-size: 11vw;
        max-width: 90%;
    }
    .box .text{
        max-width: 85%;
        font-size: 5.5vw;
    }

    /*FOOTER CHANGES*/
    footer{
        display: flex;
        flex-direction: column;
    }

    /*hiding old title layout*/
    #fLogoHolder{ display: none;}
    /*setting the new title layout*/
    #fLogoHolderX{
        display: block;
        text-align: center;
        margin-bottom: 1vh;
    }

    /*container of socials and fNav*/
    #fBox1{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    /*socials*/
    #socials{ /*old socials layout hide*/
        display: none;
    }
    /*new socials layout*/
    #socialsX{ 
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 60%;
        padding: 2%;
        border-bottom: 5px solid #4f6d7a25;
        border-radius: 2px; 
        margin-right: 1.5vw; /*center fix*/
    }
    #socialsX a{
        font-size: 8vw;
        margin: 0;
    }
    #socialsX a:first-of-type{
        margin-right: 0vw;
    }

    /*nav*/
    #fNav{
        width: 70%;
        padding: 2vh;
    }
    #fNav nav ul{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: #4f6d7ae8;
    }
    #fNav nav ul li a{
        font-size: 5.5vw;
    }
    /*copyright*/
    #fBox2 p{
        width: 70%;
        font-size: 5vw;
        margin: 0vh auto 0vh auto;
    }

    #sidebar p.text{
        font-size: 4.5vw;
    }

    .card{
        width: 75%;
        margin: 2vh auto;
    }

    .card p{
        font-size: 5vw;
    }

    /*popup tutorial*/
    #tutorial{
        width: 70%;
    }

    #tutorial p{
        font-size: 4.5vw;
    }

    /*POPUP*/
    .info h2.title{
        font-size: 7.5vw;
    }

    .info p.text{
        font-size: 4.5vw;
        margin: 0;
    }

    #frontVideo{
        width: fit-content;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) scale(0.7);
    }

    #mediaCon{
        margin-bottom: 6%;
    }

    #mediaCon h2{
        font-size: 11vw;
        margin-top: 5%;
        margin-bottom: 6%;
    }
    
    #mediaCon p{
        font-size: 5.5vw;
        width: 90%;
    }

    /*form*/
    #contactForm{
        width: 80%;
        align-items: center;
    }

    /*inline inputs*/
    #inlineName{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    /*inputs*/
    #inlineName input[type="text"], #contactForm input[type="email"]{
        font-size: 5.5vw;
        margin: 3% 0;
        width: 100%;
    }
    /*textarea*/
    #contactForm textarea{
        font-size: 5.5vw;
        padding: 2%;
        margin-bottom: 3%;
    }

    /*file input label*/
    #contactForm label{
        font-size: 5.5vw;
        margin-bottom: 2%;
    }
    /*file input*/
    #contactForm input[type="file"]{
        width: 82%;
        font-size: 4.5vw;
        display: flex;
        justify-content: center;
        margin-bottom: 2%;
    }
    /*captcha*/
    #captcha{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 3%;
        transform: scale(0.8);
    }
    /*submit*/
    #contactForm .btn{
        width: 45%;
        font-size: 5.5vw;
        animation: none;
    }
}